<h1>Longest word game!</h1>

<% @letters.each do |word| %>
<%= "#{word} " %>
<% end %>

<br><br><br>

<form action="/score" method="post" data-turbo="false">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <%# La siguiente linea crea una nueva key en el params! y asi podemos acceder %>
  <%= hidden_field_tag :letters, @letters %>
  <%= hidden_field_tag :time, @time %>
  <input type="text" name="word" placeholder="Enter your longest word!">
  <button type="submit" value="">Send</button>
</form>
